name: Go

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        ceph-release: [squid, tentacle]

    env:
      RESTIC_VERSION: "0.18.1"

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Add Ceph repository
        run: |
          curl -fsSL https://download.ceph.com/keys/release.asc | sudo gpg --dearmor -o /usr/share/keyrings/ceph-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/ceph-archive-keyring.gpg] https://download.ceph.com/debian-${{ matrix.ceph-release }}/ jammy main" | sudo tee /etc/apt/sources.list.d/ceph.list

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --yes ceph librados-dev libradosstriper-dev

      - name: Print Ceph version
        run: ceph --version

      - name: Install restic
        run: |
          set -o xtrace
          curl --location https://github.com/restic/restic/releases/download/v${RESTIC_VERSION}/restic_${RESTIC_VERSION}_linux_amd64.bz2 --output restic_${RESTIC_VERSION}_linux_amd64.bz2
          bunzip2 restic_${RESTIC_VERSION}_linux_amd64.bz2
          chmod +x restic_${RESTIC_VERSION}_linux_amd64
          sudo mv restic_${RESTIC_VERSION}_linux_amd64 /usr/local/bin/restic

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "~1.25.5"

      - name: Build
        run: |
          go build

      - name: Test
        timeout-minutes: 11
        run: |
          go test -timeout 10m
